@import "base/variables";

// foundation
@import "base/foundation-settings";
@import "foundation";
@include foundation-everything;

// Components
@import "components/callout-auth";
@import "components/container";
@import "components/page-actions";
@import "components/page-title";
@import "components/my-buttons";
@import "components/todo";

body {
  background: rgb(200,200,200);
}

.grid-container{
  margin: auto;
  width: 90%;
}

.start-page-img{
  display: block;
  text-align: center;
  margin:0 auto;
  margin-bottom: 5%;
  width:30%;
  height:30%;
}


.list-options{
  padding: 10px 10px 0 0;
}

.empty-space{
  width:20px;
}

.list-item-container{
  background: rgb(230, 230, 230);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 0 0 10px;
  border-bottom : 3px solid rgb(170,170,170);
  border-radius: 5px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
}

.list-item-container:hover{
    background: rgb(230,230,230);
}

// .list-item-container:active{
//     background: rgb(20,20,20);
// }

#footer{
  position: sticky;
  bottom: 0;
  margin: auto;
  border: 4px solid rgb(70,70,70);
  background-color: rgb(200,200,200);
}

.popup-container {
  position: relative;
  display: inline-block;

}
.list-title {
  float: left;
  padding: 5px;
}
.add-button {
  float: right;
}
.todoItem-enter {
  opacity: 0.01;
  background: rgb(20,20,20);
}

.todoItem-enter.todoItem-enter-active {
  opacity: 1;
  background: $light-grey;
  transition: opacity 500ms ease-in;
  transition: background 4300ms ease-in;
}

.todoItem-leave {
  opacity: 1;
}

.todoItem-leave.todoItem-leave-active {
  opacity: 0.01;
  transition: opacity 400ms ease-in;
}

.todo-list{

}
