.btn-div {
  width: 100%;
}

.btn-self{
  width: 100%;
}

.edit-button{
  margin-bottom: 40px;
}

.delete-button{

}

.custom-button{
  width: 100%;
}

.center-item{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}
